.homepageteamform, .homepageplayerform, .homepagegamedateform{
  padding-bottom: 2%;
}

.teamsselect, .searchplayers, .gamedateselect  {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2%;
}

.homepageteams option {
  color:black;
}

.playersearchform, .teamselectform, .gamedateselectform {
  display: flex;
  align-items: stretch;
}

.playername, .teamname, .gamedate {
  text-align: center;
}

.homepageplayers, .homepageteams, .homepagegamedate {
  text-align-last:center;
  padding: 0 1rem;
  height: 3rem;
  border: none;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  outline: 0;
  font-size: 1rem;
  background-image: url("../images/basketballbanner.jpg");
  color:white;
  width: 100%;
}

.nextbutton {
  width: 65px;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  background-image: url("../images/basketballbanner.jpg");
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  cursor: pointer;
}

.homepageplayers::placeholder {
  color: white;
}

input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type=date]::-webkit-datetime-edit-year-field {
  color: white;
}

.hidden {
  display: none;
}

.overflow {
  overflow: auto;
  margin-right: 2px;
  margin-left: 2px;
}

table {
  width: 75%;
  margin: auto;
}

tr {
  text-align: center;
}

th {
  text-decoration: underline;
}

.back-button {
  border: none;
  background-color: white;
  font-size: 25px;
  cursor: pointer;
}

.back {
  text-align: center;
}
