.homepageteamform, .homepageplayerform{
  padding-bottom: 5%;
}

.teamsselect {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5%;
}

.homepageteams {
  text-align-last:center;
  height: 3rem;
  width: 75%;
  border-radius: 1.25rem;
  font-size: 1rem;
  background-image: url("../images/basketballbanner.jpg");
  color:white;
}

.homepageteams option {
  color:black;
}

.homepageplayers {
  text-align-last:center;
  height: 3rem;
  width: 100%;
  border-radius: 1.25rem;
  font-size: 1rem;
  background-image: url("../images/basketballbanner.jpg");
  color:white;
}

.homepageplayers::placeholder {
  color: white;
}

.searchplayers {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5%;
}

.hidden {
  display: none;
}
