@import url('https://fonts.googleapis.com/css?family=Wallpoet');


body {
  font-size: 1.75rem;
  font-family: 'Wallpoet', sans-serif;
  line-height: 1;
}

.basketballbanner, .logo {
  padding: 0;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.banner {
  position: relative;
  color: black;
}

.left {
  position: absolute;
  bottom: 5%;
  left:15%;
}

.right {
  position: absolute;
  bottom: 5%;
  right: 15%;
}

.center {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo {
  padding: 0;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
